{% extends'::base.html.twig' %}

{% block body %}
  	<div id="title"><img src="/images/article.png" alt=""/></div>
    <div id="content">
       {% for article in articles %}
        <div class="box">
            <div class="date">{{article.date | date('d-m-Y') }}<span> {{ article.title}}</span></div>
            {{ article.shortdesc }}<a class="read" href="{{ path('show_articlespage', {'id': article.id}) }}">читать полностью...</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}