            <ul id="menu">
                {% for menu in menus%}
                    <li><a href="{{ path( menu.url ) }}">{{ menu.title }}</a></li>
                {% endfor %}
                <li class="end"></li>
            </ul>
            <ul id="forum">
                <li><a href="http://forum.wowcircle.com/forumdisplay.php?104" target="_blank">Главный раздел форума</a></li>
                <li><a href="http://forum.wowcircle.com/forumdisplay.php?f=109" target="_blank">Информация, новости</a></li>
                <li><a href="http://forum.wowcircle.com/forumdisplay.php?123" target="_blank">Правила</a></li>
                <li><a href="http://forum.wowcircle.com/forumdisplay.php?7" target="_blank">Разделы игровых миров</a></li>
                <li><a href="http://forum.wowcircle.com/forumdisplay.php?6" target="_blank">Все об игре</a></li>
                <li><a href="http://forum.wowcircle.com/forumdisplay.php?13" target="_blank">Баг-трекер</a></li>
                <li><a href="http://forum.wowcircle.com/forumdisplay.php?101" target="_blank">Флудильня</a></li>
                <li class="end"></li>
            </ul>